@model WorkingListViewModel
@{
    TempData["Title"] = "Personele Görev Ata";
    string search = (string)ViewBag.Search;
}
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-1">
        <span class="text-muted fw-light">
            <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="text-dark">
                Dashboard /
            </a>
        </span>
        <span class="text-muted fw-light">
            <a asp-area="Admin" asp-controller="Working" asp-action="GetAllTable" class="text-dark">
                Görev Ata /
            </a>
        </span>
        @TempData["Title"]
    </h4>
    <div class="row">
        @if (!string.IsNullOrEmpty(search))
        {
            <div class="col-12">
                <div class="alert alert-primary alert-dismissible" role="alert">
                    <strong>"@search"</strong> için sonuçlar listelenmiştir.
                    <a asp-area="Admin"
                   asp-controller="Working"
                   asp-action="SetPersonel2"
                   asp-route-id="@Model.WorkList.Id" class="float-end">
                        <strong>Filtreyi kaldır</strong>
                    </a>
                </div>
            </div>
        }
        <div class="col-3 mb-4">
            <div class="card">
                <div class="d-flex align-items-end row">
                    <div class="card-body">
                        <h5 class="card-title text-primary">Görevin Kategorisi</h5>
                        <p class="mb-3">
                            <span class="badge bg-label-@Model.WorkList.Category!.Color rounded-pill">
                                @Model.WorkList.Category?.Definition
                            </span>
                        </p>
                        <hr />
                        <h5 class="card-title text-primary">Görevin Oluşturma Tarihi</h5>
                        <p class="mb-3">
                            @Model.WorkList.CreatedDate.ToString("dd.MM.yyyy HH:mm")
                        </p>
                        <hr />
                        <h5 class="card-title text-primary">Görevin Adı</h5>
                        <p class="mb-3">
                            @Model.WorkList.Definition
                        </p>
                        <hr />
                        <h5 class="card-title text-primary">Görevin Açıklaması</h5>
                        <p class="mb-3">
                            @Model.WorkList.Description
                        </p>
                    </div>

                </div>
            </div>
            <div class="row px-3 mt-3">
                <a asp-area="Admin" asp-controller="Working" asp-action="GetAllTable" class="btn btn-dark">
                    <i class='bx bx-arrow-from-right'></i>
                    Listeye geri dön
                </a>
            </div>
        </div>
        <div class="col-9">
            <div class="row mb-3">
                <form asp-area="Admin" asp-controller="Working" asp-action="SetPersonel2" method="get" class="d-flex">
                    @if (!string.IsNullOrEmpty(search))
                    {
                        <input class="form-control me-2" type="search" placeholder="arama..." aria-label="arama" name="s" value="@search">
                    }
                    else
                    {
                        <input class="form-control me-2" type="search" placeholder="arama..." aria-label="arama" name="s">
                    }
                    <button class="btn btn-primary" type="submit" style="width:10%">
                        <i class="bx bx-search-alt-2"></i>
                        Ara
                    </button>
                </form>
            </div>
            <div class="table-responsive text-nowrap">
                <table class="table table-hover table-striped table-bordered table-sm">
                    <thead>
                        <tr>
                            <th class="text-center">Ad Soyad</th>
                            <th class="text-center">Kullanıcı Adı</th>
                            <th class="text-center">Task Sayısı</th>
                            <th class="col-1 text-center">Profil Resim</th>
                            <th class="col-1 text-center"></th>
                        </tr>
                    </thead>
                    <tbody class="table-border-bottom-0">
                        @foreach (var item in Model.AppUser!)
                        {
                            <tr>
                                <td class="text-center">@(item.Name + " " + item.Surname)</td>
                                <td class="text-center">@item.Username</td>
                                <td>
                                    <getWorkingByAppUserId app-user-id="item.Id"></getWorkingByAppUserId>
                                </td>
                                <td class="text-center">
                                    <ul class="list-unstyled users-list m-0 avatar-group d-flex align-items-center">
                                        <li data-bs-toggle="tooltip"
                                            data-popup="tooltip-custom"
                                            data-bs-placement="top"
                                            class="avatar avatar-md pull-up"
                                            title="@item.Username"
                                            data-bs-original-title="@item.Username">
                                            <img src="/images/profiles/@item.ProfileImage" alt="@item.Username" class="rounded-circle">
                                        </li>
                                    </ul>
                                </td>
                                <td class="text-center">
                                    <a asp-area="Admin"
                                   asp-controller="Working"
                                   asp-action="AssignTask"
                                   asp-route-appUserId="@item.Id"
                                   asp-route-workId="@Model.WorkList.Id"
                                       class="btn btn-outline-secondary btn-sm">
                                        <i class="bx bxs-user-detail"></i>
                                        Görevi ata
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <nav aria-label="Page navigation">
                    <ul class="pagination">
                        @if (!string.IsNullOrEmpty(search))
                        {
                            for (int i = 1; i <= ViewBag.TotalPage; i++)
                            {
                                <li class="page-item @(ViewBag.ActivePage==i?"active":"")">
                                    <a class="page-link" asp-area="Admin" asp-controller="Working" asp-action="SetPersonel2"
                               asp-route-id="@Model.WorkList.Id"
                               asp-route-activePage="@i"
                               asp-route-s="@search">
                                        @i
                                    </a>
                                </li>
                            }
                        }
                        else
                        {
                            for (int i = 1; i <= ViewBag.TotalPage; i++)
                            {
                                <li class="page-item @(ViewBag.ActivePage==i?"active":"")">
                                    <a class="page-link" asp-area="Admin" asp-controller="Working" asp-action="SetPersonel2"
                               asp-route-id="@Model.WorkList.Id"
                               asp-route-activePage="@i">
                                        @i
                                    </a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>